$background-color1: rgba(72, 77, 135, 1);
$background-color2: rgb(214, 218, 203);


.footerContainer {
    background: $background-color1;
}

.sectionsContainer {
    background-color: $background-color1;
}


.sectionOne {
    background-color: $background-color1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
  }
  
  .fullScreenOne {
    z-index: 10;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 36px 77px 0 44px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%; 
  }
  
  .arrowContainer {
    align-self: flex-start; 
   
  }
  
  .sectionOneContainer {
    flex-grow: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
  }
  

.arrow {
    width: 133px;
    height: 44px;
}

.title {
    color: #FAF3D6;
    font-family: 'NAMU', sans-serif;
    font-size: 180px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 27px;
    text-shadow: 0 0 10px #FAF3D6;
}

.sectionOneContainer {
    display: flex;
    gap: 102px;
    margin-left: 46px;
}


.toothModel {
    //margin-top: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}



///////////


.mainTextTwo,
.titleTextTwo {
    color: $background-color1;
    font-family: 'NAMU', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 7.2px;
}


.sectionTwo {
    background-color: $background-color2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.jaw {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.fullScreenTwo {
    z-index: 10;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 127px 0 60px;
}

//////////

.mainTextThree {
    color: #FAF3D6;
    font-family: 'NAMU', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 7.2px;
    list-style-position: inside;
}



.sectionThree {
    background-color: $background-color1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.liThree {
    margin-left: 40px;
    text-indent: -1.4em;
    padding-left: 1em;

}


.fullScreenThree {
    z-index: 10;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 127px 0 60px;

}


//////////////


.sectionFour {
    background-color: $background-color2;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.mainTextFour {
    color: $background-color1;
    font-family: 'NAMU', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 7.2px;
}


.ulContainer {
    color: $background-color1;
    font-family: 'NAMU', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 7.2px;
    list-style-position: inside;
    display: flex;
    gap: 57px;
}



.fourTextlist {
    margin-left: 35px;
}


.fullScreenFour {
    z-index: 10;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
    padding: 0 127px 0 60px;

}

///////////


.sectionFive {
    background-color: $background-color1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.mainTextFive {
    color: #FAF3D6;
    font-family: 'NAMU', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 7.2px;
    list-style-position: inside;
}



.liFive {
    margin-left: 40px;
    text-indent: -1.4em;
    padding-left: 1em;
}

.hands {
    width: 0px;
    height: 0px;
    opacity: 0;
}

.fullScreenFive {
    z-index: 10;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
    padding: 0 127px 0 60px;
}


/////


.sectionSix {
    background-color: $background-color2;
    height: 100vh;
    padding: 0 127px 0 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.mainTextSix {
    color: $background-color1;
    font-family: 'NAMU', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 7.2px;
    list-style-position: inside;
}


.liSix {
    margin-left: 40px;
    text-indent: -1.4em;
    padding-left: 1em;
}

.tooth {
    width: 400px !important;
    height: 400px !important;
}

.fullScreenSix {
    z-index: 10;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

}

@media (min-width: 769px) {

    /* .arrowContainer {
      overflow: hidden;
      display: inline-block;
    }
    */
    .arrow {
        /*   transform: translateX(0%);
        transition: opacity 0.3s ease;  */

        transition: opacity 0.3s ease;
        &:hover {
            opacity: 0.5;
        }
    }

    .arrow.animate {
        animation: slideIn 0.5s forwards;
    }

    @keyframes slideIn {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }

        100% {
            transform: translateX(0%);
            opacity: 1;
        }
    }

}














@media (max-width: 1257px) {

    .title {
        font-size: 170px;
    }


    .sectionOneContainer {
        gap: 30px;
    }

    .titleContainer {
        display: flex;
        align-items: center
    }


}


@media (max-width: 1165px) {

    .title {
        font-size: 160px;
    }


    .sectionOneContainer {
        gap: 30px;
    }




}


@media (max-width: 1112px) {

    .title {
        font-size: 140px;
    }


    .sectionOneContainer {
        gap: 25px;
    }




}







@media (max-width: 1140px) {

    .arrow {
        width: 100px;
        height: 32px;
    }

    .title {
        font-size: 130px;
        letter-spacing: 19px;
        text-shadow: 0 0 7px #FAF3D6;
    }

    .titleContainer {
        display: flex;
        align-items: center
    }

    .sectionOneContainer {
        gap: 76px;
        margin-left: 34px;
    }

    .toothModel {
        // margin-top: 38px; 
    }

    .fullScreenOne {
        padding: 27px 58px 0 35px;
    }

    .mainTextTwo,
    .titleTextTwo {
        font-size: 24px;
        letter-spacing: 4.8px;
    }

    .fullScreenTwo {
        padding: 0 85px 0 40px;
    }

    .mainTextThree {
        font-size: 24px;
        letter-spacing: 4.8px;
    }


    .liThree {
        margin-left: 30px;
        text-indent: -1.2em;
        padding-left: 0.75em;
    }

    .fullScreenThree {
        padding: 0 85px 0 40px;
    }



    .mainTextFour {
        font-size: 24px;
        letter-spacing: 4.8px;
    }

    .ulContainer {
        font-size: 24px;
        letter-spacing: 4.8px;
        gap: 43px;
    }

    .fourTextlist {
        margin-left: 27px;
    }

    .fullScreenFour {
        padding: 0 85px 0 40px;
    }


    .mainTextFive {
        font-size: 24px;
        letter-spacing: 4.8px;
    }

    .liFive {
        margin-left: 30px;
        text-indent: -1.2em;
        padding-left: 0.75em;
    }



    .fullScreenFive {
        padding: 0 85px 0 40px;
    }

    .sectionSix {
        padding: 0 85px 0 40px;
    }

    .mainTextSix {
        font-size: 24px;
        letter-spacing: 4.8px;
    }

    .liSix {
        margin-left: 30px;
        text-indent: -1.2em;
        padding-left: 0.75em;
    }


}


@media (max-width: 940px) {

    .title {
        font-size: 120px;
    }


    .sectionOneContainer {
        gap: 30px;
    }


}



@media (max-width: 860px) {

    .title {
        font-size: 100px;
    }


    .sectionOneContainer {
        gap: 30px;
    }


}




@media (max-width: 768px) {
    .arrow {
        width: 67px;
        height: 22px;
    }

    .title {
        font-size: 110px;
        letter-spacing: 13px;
        text-shadow: 0 0 5px #FAF3D6;
    }

    .titleContainer {
        display: flex;
        align-items: center
    }

    .sectionOneContainer {
        gap: 51px;
        margin-left: 23px;
    }

    .toothModel {
        //  margin-top: 25px; 
    }

    .fullScreenOne {
        padding: 18px 38px 0 22px;
    }

    .mainTextTwo,
    .titleTextTwo {
        font-size: 18px;
        letter-spacing: 3.6px;
    }

    .fullScreenTwo {
        padding: 0 63px 0 30px;
    }

    .mainTextThree {
        font-size: 18px;
        letter-spacing: 3.6px;
    }


    .liThree {
        margin-left: 20px;
        text-indent: -1em;
        padding-left: 0.5em;
    }

    .fullScreenThree {
        padding: 0 63px 0 30px;
    }

    //////
    .mainTextFour {
        font-size: 18px;
        letter-spacing: 3.6px;
    }

    .ulContainer {
        font-size: 18px;
        letter-spacing: 3.6px;
        display: flex;
        justify-content: space-between;
    }

    .fourTextlist {
        margin-left: 18px;
    }

    .fullScreenFour {
        padding: 0 63px 0 30px;
    }

    /////



    .mainTextFive {
        font-size: 18px;
        letter-spacing: 3.6px;
    }

    .liFive {
        margin-left: 20px;
        text-indent: -1em;
        padding-left: 0.5em;
    }




    .sectionSix {
        padding: 0 63px 0 30px;
    }

    .mainTextSix {
        font-size: 18px;
        letter-spacing: 3.6px;
    }

    .liSix {
        margin-left: 20px;
        text-indent: -1em;
        padding-left: 0.5em;
    }

}



@media (max-width: 716px) {

    .title {
        font-size: 90px;
    }


    .sectionOneContainer {
        gap: 40px;
        margin-left: 23px;
    }


}


@media (max-width: 640px) {

    .title {
        font-size: 80px;
    }

}



@media (max-width: 563px) {

    .title {
        font-size: 70px;
    }

    .sectionOneContainer {
        gap: 20px;
        margin-left: 23px;
    }


}



@media (max-width: 520px) {

    .title {
        font-size: 60px;
    }




}

@media (max-width: 480px) {
    .sectionOne {
        padding: 30px 15px 0 15px;
    }

    .arrow {
        width: 100px;
        height: 35px;
    }

    .title {
        font-size: 110px;
        letter-spacing: 10.8px;
    }

    .sectionOneContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 10px;
    }


    .toothModel {
        //  display: flex;
        justify-content: center;
        align-items: center;
        // margin-top: 0;
    }

    ///////////


    .titleTextTwo {
        font-size: 30px;
        letter-spacing: 1px;
    }

    .mainTextTwo {
        font-size: 20px;
        letter-spacing: 0.7px;
    }


    .fullScreenTwo {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: hidden;
        height: 100%;
        padding: 20px 25px 0 25px;
    }


    .textTwoContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;

    }


    .jaw {
        width: 364px;
        height: 45%;
        opacity: 1;
        margin-left: -110px;
    }


    //////////

    .mainTextThree {
        font-size: 20px;
        letter-spacing: 0.7px;
    }



    .liThree {

        margin-left: 15px;
        text-indent: -1.4em;
        padding-left: 1em;
        padding-bottom: 18px;

    }

    .fullScreenThree {

        padding: 20px 27px 0 20px;
    }

    ////////////////

    .sectionFour {
        display: block;

    }

    .mainTextFour {
        font-size: 30px;
        letter-spacing: 1px;
    }


    .ulContainer {
        font-size: 18px;
        letter-spacing: 0.6px;
        display: flex;
        justify-content: space-around;
        line-height: 1.8;
        gap: 0;
    }


    .fourTextlist {
        margin-left: 5px;

    }


    .fullScreenFour {
        padding: 20px 22px 0 20px;
        gap: 40px;
    }




    ///////////


    .sectionFive {
        display: block;
    }


    .mainTextFive {
        font-size: 20px;
        letter-spacing: 0.7px;
    }

    .liFive {
        margin-left: 10px;
        text-indent: -1.4em;
        padding-left: 1em;
        margin-bottom: 15px;
    }

    .hands {
        width: 100%;
        height: auto;
        opacity: 1;

    }

    .fullScreenFive {
        padding: 20px 8px 0 13px;
    }

    /////


    .sectionSix {
        padding: 40px 13px 0 20px;
    }


    .mainTextSix {
        font-size: 20px;
        letter-spacing: 0.7px;

    }


    .liSix {
        margin-left: 10px;
        text-indent: -1.4em;
        padding-left: 1em;
        margin-bottom: 20px;
    }
}



@media (max-width: 400px) {
    .sectionOne {
        padding: 25px 10px 0 10px;
    }

    .arrow {
        width: 83px;
        height: 44px;
    }

    .title {
        font-size: 72px;
        letter-spacing: 10.8px;
    }

    .sectionOneContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
        margin-left: 10px;
    }


    .toothModel {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0;
    }

    ///////////


    .titleTextTwo {
        font-size: 20px;
        letter-spacing: 1px;
    }

    .mainTextTwo {
        font-size: 14px;
        letter-spacing: 0.7px;
    }


    .fullScreenTwo {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 100%;
        padding: 20px 22px 0 21px;
    }


    .textTwoContainer {
        display: flex;
        flex-direction: column;

        gap: 18px;

    }


    .jaw {
        width: 364px;
        height: 60%;
        opacity: 1;
        margin-left: -110px;
    }


    //////////

    .mainTextThree {
        font-size: 14px;
        letter-spacing: 0.7px;
    }



    .liThree {

        margin-left: 15px;
        text-indent: -1.4em;
        padding-left: 1em;
        padding-bottom: 18px;

    }

    .fullScreenThree {
        padding: 20px 27px 0 20px;
    }



    ////////////////

    .sectionFour {
        display: block;

    }

    .mainTextFour {
        font-size: 20px;
        letter-spacing: 1px;
    }


    .ulContainer {
        font-size: 12px;
        letter-spacing: 0.6px;
        display: flex;
        justify-content: space-around;
        line-height: 2;
        gap: 0;
    }


    .fourTextlist {
        margin-left: 5px;

    }


    .fullScreenFour {
        padding: 20px 22px 0 20px;
    }

    .fullScreenFour {
        gap: 60px;
    }


    ///////////


    .sectionFive {
        display: block;
    }


    .mainTextFive {
        font-size: 14px;
        letter-spacing: 0.7px;
    }

    .liFive {
        margin-left: 10px;
        text-indent: -1.4em;
        padding-left: 1em;
        margin-bottom: 15px;
    }

    .hands {


        opacity: 1;

    }

    .fullScreenFive {
        padding: 20px 8px 0 13px;
    }

    /////


    .sectionSix {
        padding: 30px 13px 0 20px;
    }


    .mainTextSix {
        font-size: 14px;
        letter-spacing: 0.7px;

    }


    .liSix {
        margin-left: 10px;
        text-indent: -1.4em;
        padding-left: 1em;
        margin-bottom: 20px;
    }
}



@keyframes heartbeat {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.logo {
    animation: heartbeat 3.5s infinite;
    width: 100%;
    height: auto;
}






.sections {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow-x: auto;
    scroll-snap-stop: always;
    scrollbar-width: none;
    overflow-y: hidden;
    position: relative;
    cursor: grab;
    -webkit-overflow-scrolling: touch;
    user-select: none;
    

  }
  
  
  .sectionOne,
  .sectionTwo,
  .sectionThree,
  .sectionFour,
  .sectionFive,
  .sectionSix,
  .footerContainer {
    flex: 0 0 100vw;
    height: 100vh;
    scroll-snap-align: start;
    transition: transform 1s ease;
  }
  
  .sections::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    background: none;
    pointer-events: none;
  }
  
