.toothModelContainer {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toothCanvas {
    width: 100%;
    height: 100%;
  }

  
  @media (min-width: 1251px) {
    .mainContainer {
      width: 400px;
      height: 400px;
    }

  }
  

  @media (max-width: 1250px) {
    .mainContainer {
      width: 390px;
      height: 390px;
    }
  }
  
  @media (max-width: 795px) {
    .mainContainer {
      width: 248px;
      height: 248px;
    }
  }
  
  @media (max-width: 566px) {
    .mainContainer {
      width: 177px;
      height: 177px;
    }
  }
  
  @media (max-width: 480px) {
    .mainContainer {
      width: 90px;
      height: 90px;
    }
  }
  


  @media (min-width: 1251px) {
    .aboutContainer {
      width: 450px;
      height: 450px;
    }

  }


  @media (max-width: 1250px) {
    .aboutContainer {
    }
  }
  
  @media (max-width: 795px) {
    .aboutContainer {
    }
  }
  
  @media (max-width: 566px) {
    .aboutContainer {
    }
  }
  
  @media (max-width: 480px) {
    .aboutContainer {
      width: 300px;
      height: 300px;
    }
  }
  