.toothModelContainer {
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toothCanvas {
    width: 100%;
    height: 100%;
  }

  
 
  

  @media (max-width: 1250px) {
    .toothModelContainer {
      width: 390px;
      height: 390px;
    }
  }
  
  @media (max-width: 795px) {
    .toothModelContainer {
      width: 248px;
      height: 248px;
    }
  }
  
  @media (max-width: 566px) {
    .toothModelContainer {
      width: 177px;
      height: 177px;
    }
  }
  
  @media (max-width: 480px) {
    .toothModelContainer {
      width: 90px;
      height: 90px;
    }
  }
  