.toothModelContainer {
    width: 88px;
    height: 84px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .toothCanvas {
    width: 100%;
    height: 100%;
  }

  
 
  

  @media (max-width: 1025px) {
    .toothModelContainer {
        width: 72px;
        height: 68px;
    }
}

@media (max-width: 795px) {
    .toothModelContainer {
        width: 56px;
        height: 52px;
    }
}

@media (max-width: 566px) {
    .toothModelContainer {
        width: 40px;
        height: 36px;
    }
}



  @media (max-width: 480px) {

    .toothModelContainer {
      width: 24px;
      height: 23px;
    }
  

  }