$background-color: rgba(250, 243, 214, 1);
$line-color: rgba(252, 168, 52, 1);
$text-color: rgb(251, 117, 5);

.fullScreen {
    z-index: 10;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.AboutUsContainer {
    padding: 41px 20px 91px 70px;
   
}



.infoItem {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    gap: 85px;

}


.title {
    font-family: 'NAMU', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    color: $text-color;

}

.header {
    display: flex;
}

.infoContainer {
    display: flex;
    flex-direction: row;
}

.infoText {
    display: flex;
    align-items: center;
    font-family: 'NAMU', sans-serif;
    font-size: 28px;
    font-weight: 300;
    line-height: 33.6px;
    letter-spacing: 0.1em;
    text-align: left;
    color: $text-color;


}


.customLineAboutUs {
    width: 100%;
    height: 0;
    gap: 0;
    border: 1px solid $line-color;
    opacity: 1;
    transform: rotate(0.04deg);
    box-shadow: 0px -8px 10px 0px rgba(252, 168, 52, 1),
        0px 8px 10px 0px rgba(252, 168, 52, 1);

}

.imageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;

}



@media (min-width: 800px) {

    .AboutUsContainer {
        height: 80vh;
    }
}


@media (max-width: 1025px) {
    .AboutUsContainer {
        padding: 50px 30px 85px 50px;
    }

    .infoItem {
        padding-top: 40px;
        gap: 60px;
    }

    .title {
        font-size: 18px;
        line-height: normal;
        letter-spacing: 0.1em;
    }

    .infoText {
        font-size: 24px;
        line-height: normal;
        letter-spacing: 0.9px;
    }

    .customLineAboutUs {
        top: 450px;
    }
}

   

@media (max-width: 795px) {
    .AboutUsContainer {
        padding: 40px 20px 80px 40px;
    }

    .infoItem {
        padding-top: 35px;
        gap: 60px;
    }

    .title {
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0.05em;
    }

    .infoText {
        font-size: 22px;
        line-height: normal;
        letter-spacing: 0.75px;
    }

    .customLineAboutUs {
        top: 430px;
    }
}

@media (max-width: 566px) {
    


    .AboutUsContainer {
        padding: 35px 15px 70px 25px;
    }

    .infoItem {
        padding-top: 25px;
        gap: 30px;
    }

    .title {
        font-size: 14px;
        line-height: normal;
        letter-spacing: normal;
    }

    .infoText {
        font-size: 16px;
        line-height: normal;
        letter-spacing: 0.5px;
    }

    .customLineAboutUs {
        top: 400px;
    }
}




@media (max-width: 480px) {

    .AboutUsContainer {
        padding: 30px 5px 35px 20px;
    }
    
    
  
    .infoItem {
        padding-top: 19px;
        gap: 24px;
    
    }
    
    .title {
        font-size: 10px;
        line-height: normal;
        letter-spacing: normal;
    
    }
    
    
    .infoText {
        font-size: 10px;
        line-height: normal;
        letter-spacing: 1px;
    
    
    }
    
    
    .customLineAboutUs {
        width: 100%;
        height: 0;
        top: 444px;
        gap: 0;
        border: 1px solid $line-color;
        opacity: 1;
        transform: rotate(0.04deg);
        box-shadow: 0px -8px 10px 0px rgba(252, 168, 52, 1),
            0px 8px 10px 0px rgba(252, 168, 52, 1);
    
    }
    

}



