$background-color: rgba(250, 243, 214, 1);
$line-color: rgba(252, 168, 52, 1);

.fullScreen {
  display: flex;
  z-index: 10;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  position: relative; // Added to position navigation buttons
}

.BurgerSliderContainer {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.swiper-slide img {
  width: 100%;
  height: auto;
}

.mySwiper {
  width: 100%;
  height: 100%;
}


.prevArrow,
.nextArrow {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
 
  color: $line-color;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 52px;
  z-index: 20;
 
  user-select: none; 
  &:focus {
    outline: none;
  }
  

}


.prevArrow {
  left: 10px;
  transform: translateY(-50%);
}

.nextArrow {
  right: 10px;
  transform: translateY(-50%);
}


