$title-color: rgba(52, 57, 115, 1);
$details-color: rgba(53, 53, 53, 1);
$background-color: white;



.fullScreen {
    display: flex;
    z-index: 10;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;
}

.burgerMenuContainer {
    position: absolute;
    display: flex;
    background-color: $background-color;
    border-radius: 10px;
    margin: 0 0 0 55px;
    padding: 37px 0 39px 30px;

    //////
    width: 1103px;
    /// ///

}

.title {
    color: $title-color;
    font-family: 'NAMU', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    text-align: left;

}

.details {
    color: $details-color;
    font-family: 'NAMU', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 19.2px;
    text-align: left;
    line-height: 19.2px;

}