$background-color: rgba(250, 243, 214, 1);
$line-color: rgba(252, 168, 52, 1);
$text-color: rgba(52, 57, 115, 1);

.fullScreen {
    z-index: 10;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
    box-sizing: border-box;

}


.promotionalOffersContainer {
    padding: 40px 8px 95px 8px;
    height: 100vh;
}

.promotionalOffersContainer {
    
    background-color: $background-color;

}

.promotionalOffersText {
    font-family: 'NAMU', sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.1em;
    text-align: left;
    margin-left: 72px;
    color: $text-color;
}




.customLinePromotionalOffers {
    width: 100%;
    height: 0;
    top: 510px;
    gap: 0;
    border: 1px solid $line-color;
    opacity: 1;
    transform: rotate(0.04deg);
    box-shadow: 0px -8px 10px 0px rgba(252, 168, 52, 1),
        0px 8px 10px 0px rgba(252, 168, 52, 1);

}


@media (min-width: 800px) {

    .promotionalOffersContainer {
        height: 80vh;
    }
}